/* public */
body {
    background: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear:both;
}

.disappear {
    display: none;
}

/* body */
.text {
    font-size: 67px;
    letter-spacing: 6px;
    width: 1000px;
    height: 68px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -34px;
    left: 50%;
    margin-left: -500px;
    font-weight: 600;
}
.title {
    display: block;
    width: 420px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin:auto auto 50px auto;
    letter-spacing: 3px;
    line-height: 60px;
    /*border-bottom: 3px solid #5a5a5a;*/
    position: relative;
}
.title .en {
    position: absolute;
    font-size: 20px;
    color: #5a5a5a;
    top: 50px;
    display: block;
    width: 120px;
    /*background: #fff;*/
    line-height: 20px;
    left: 150px;
    letter-spacing: 0px;
    font-weight: 400;
}
.more {
    width: 226px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid rgba(102,102,102,1);
    text-align: center;
    margin:30px auto auto auto;
    display: block;
    color:#000;
}
textarea {
    resize:none;
}
