.about {
    width: 1200px;
    margin: 100px auto;
    min-height: 100px;
}

.about .box,
.news .box {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.about .box span,
.news .box span {
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

.about .intro {
    line-height: 30px;
}
